* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
}

nav {
  background-color: rgb(56, 56, 56);
  padding: 12px 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font: 32px bold;
}

ul {
  gap: 20px;
}

ul.flex li,
li a {
  list-style: none;
  font-size: 24px;
}

#cerrar {
  height: 40px;
  width: 140px;
  background-color: deepskyblue;
  color: white;
  border: none;
  border-radius: 8px;
  font: 15px bold;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 30px;
  height: 800px;
  display: flex;
  gap: 60px;
}

section {
  /*flex 1 o 50% para que se dividan el espacio en partes iguales en la fila creada
    flex: 1;*/
  height: 750px;
}

section.izq {
  flex: 0 0 65%;
}

section.der {
  flex: 0 0 30%;
}

.bloque {
  /*width: 100%;
    height: ;*/
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.header {
  height: 150px;
  background-color: deepskyblue;
  border-radius: 10px 10px 0 0;
}

.contenido {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

#foto_perfil {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: -95px;
  object-fit: cover;
  border-color: white;
  border: 3px solid white;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined" !important;
  font-variation-settings:
    "FILL" 0,
    "wght" 180,
    "GRAD" 0,
    "opsz" 24;
}

.relleno{
    font-variation-settings:
    "FILL" 1;
}

.edit_profile{
    margin-top: 5px;
    color: rgba(9, 146, 192, 0.925);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.education {
  box-sizing: border-box;
  padding: 20px;
}

#lorem {
  margin-top: 16px;
}

ul.solicitudes,
ul.conexiones li {
  list-style: none;
}

.izquierdo {
  margin-top: 20px;
}

.derecho {
  padding: 30px;
  margin-top: 20px;
}

.derecho h2 {
  margin-bottom: 25px;
}

.solicitudes {
  display: flex;
  flex-direction: column;
}

.solicitudes li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.solicitudes img {
  width: 50px;
  height: 50px;
  border-radius: 15%;
  border: 3px solid deepskyblue;
  object-fit: cover;
}

.acciones {
  display: flex;
  gap: 25px;
}

.acciones button{
    background: transparent;
    color: rgb(226, 40, 180);
    border:none;
    cursor: pointer;
}

.rechazar .material-symbols-outlined, .aceptar .material-symbols-outlined{
    font-size: 45px;
}

.conexiones li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
}

.conexiones img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(88, 45, 13);
  object-fit: cover;

}



